<% include ./partials/header %>
<div class="container">
    <h1><%=page%></h1>>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Select WebFolio Fields</h1>
            <hr>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <div class="container">
                <div class="d-flex flex-row bg-dark text-center">
                    <!-- <div class="col-6"> -->
                        <div class="d-flex flex-column border border-danger my-2 fieldBox" id="included">
                            <div class="text-white">
                                <h1>Include</h1>
                            </div>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="col-6"> -->
                        <div class="d-flex flex-column border border-danger my-2 fieldBox" id="excluded">
                            <div class="text-white">
                                <h1>Exclude</h1>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
            
            <input name="userID" id="userID" type="text" class="d-none" value="<%= user._id %>">
            <input name="page" id="page" type="text" class="d-none" value="<%= page %>">
            <div id="actionField">
                <% if(page == "create"){%>
                <button id="createWf" class="btn btn-lg btn-success btn-block">Save Fields</button>
                <%}%>
                <% if(page == "update"){%>
                    <button id="updateWf" class="btn btn-lg btn-danger btn-block">Update Fields</button>
                <%}%>
            </div>
            
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../home.js"></script>
<% include ./partials/footer %>